*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #251B37;
    color: #FFFFFF;
}

.conteudo_main{
    margin: 10%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: flex-start;
    background-color: #000000;
    border-radius: 15px;
}


.conteudo{
    width: 80%;
    justify-content: flex-start;
}

img{
    margin: auto;
    display: block;
}

.conteudo_h1{
    font-size: 20px;
}

.conteudo_p{
    font-size: 16px;
}

.redes{
    width: 10%;

    background-color: #22D4FD;
    border-radius: 16px;
    
    font-size: 18px;
    font-weight: 600;

    text-align: center;
    text-decoration: none;
}

.main_h1{
    padding: 50px;
    text-align: center;
}

.main_h2{
    padding: 19px;
}

.main_p{
    padding-left: 40px;
    padding-right: 800px;
}

.main_redes{
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
}

#github{
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    display: inline;
    margin-bottom: 30px;
    padding: 15px;
}

#linkedin {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    display: inline;
    margin-bottom: 30px;
    margin: 30px;
}


/*PADDING = CIMA, DIREITA, ABAIXO E ESQUERDA*/
.main_img{
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    width: 350px; 
    position: fixed;
    right: 30%;
}