*{
    padding: 0;
    margin: 0;
}

:root{
    --cor-um: #3d0000;
    --cor-dois: #EEEEEE;
    --cor-tres: #000000;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    background-color: var(--cor-tres);
}

.cabecalho{
    width: 100%;
    height: 17%;
    background-color: var(--cor-um);
    text-align: center;
    display: flex;
    align-items: center;
}

.conteudo_main{
    margin: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /*
    justify-content: space-between;
    background-color: var(--cor-tres);
    border-radius: 15px;
    */
}


.conteudo{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: var(--cor-dois);
    box-sizing: content-box;

}

.conteudo_h1{
    font-size: 30px;
    color: var(--cor-dois);
    text-align: center;
    
}

.conteudo_p{
    font-size: 16px;
    align-items: center;
    text-align: start;
    
}

.redes{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    flex: inline-flex;
    flex-shrink: 1;
}


#redes_github,
#redes_linkedin{
    border: 2px solid var(--cor-dois);
    border-radius: 8px;
    padding: 12px;
    display: inline;
    margin-bottom: 30px;
    padding: 15px;
    text-decoration: none;
    color: var(--cor-dois);
    
}

#redes_linkedin {
    border: 2px solid var(--cor-dois);
    border-radius: 8px;

    padding: 12px;
    display: inline;

    margin-bottom: 30px;
    margin: 30px;

    text-decoration: none;
    color: var(--cor-dois);
    
}


.perfil{
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--cor-dois);
    border-radius: 8px;
    margin: 5%;
    box-sizing: content-box;
}

.rodape{
    width: 100%;
    height: 17%;
    background-color: var(--cor-um);
}