*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-um: #176FA2;
    --cor-dois: #EEEEEE;
    --cor-tres: #000000;
}

.cabecalho{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: var(--cor-um);
}

.principal{
    justify-content: center;
}

.principal__titulo{
    text-align: center;
    justify-content: center;
}

.princiapl__texto{
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rodape{

}